/*!
 * main.css
 * dlegaspi@bu.edu
 */

@font-face {
    font-family: Whitney-Book;
    src: url(../fonts/whitneybook.otf);
}

@font-face {
    font-family: Whitney-SemiBold;
    src: url(../fonts/whitneysemibold.otf);
}

@font-face {
    font-family: Whitney-Bold;
    src: url(../fonts/whitneybold.otf);
}

@font-face {
    font-family: Whitney-Medium;
    src: url(../fonts/whitneymedium.otf);
}

@font-face {
    font-family: Whitney-SSM;
    src: url(../fonts/WhitneySSmMedium.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Whitney-Book, Benton, sans-serif;
    line-height: 1.6;
}

table.flat-table {
    margin-left: 100px;
    margin-right: 100px;
    border-collapse: collapse;
}

table.flat-table th {
    background-color: black;
    color: white;
    font-family: Whitney-SemiBold, Benton, sans-serif;
}

table.flat-table tr:hover {
    background: #eeeeee;
}

table.flat-table td {
    color: #555;
}

table.flat-table th, td {
    border: 1px solid black;
    padding: 12px 12px;
    border-collapse: collapse;
}

table.flat-table caption {
    padding: 25px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Whitney-SemiBold, Benton, sans-serif;
}

.bu-logo {
    width: 112px;
    height: 50px;
}

#tableContainer {
    padding: 5px;
    display: flex;
    justify-content: center;
    min-height: 300px;
    opacity: 0;
    transition: opacity 1s;
    overflow: scroll;
}

#tableContainer.fade {
    opacity: 1;
}

#tableFooter {
    display: flex;
    justify-content: center;
    padding: 1em;
    color: #aaa;
    font-size: 12px;
}

#logoFooter {
    display: flex;
    justify-content: center;
    padding: 1em;
    color: #aaa;
    font-size: 12px;
    flex: 1;
}

#loadTableButton {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-color: #adadad;

    top: 15%;
    position: absolute;
    left: 50%;

    /* https://dev.to/d__raptis/css-absolute-center-element-k5a */
    transform: translate(-50%, -50%);
}

#loadingIcon {
    display: none;
    top: 25%;
    position: absolute;
    left: 50%;

    /* https://dev.to/d__raptis/css-absolute-center-element-k5a */
    transform: translate(-50%, -50%);
}

svg path,
svg rect {
    margin: 0 auto 1em;
    fill: #aaa;
    display: inline-block;
    text-align: center;
}

.footer-text {
    text-align: center;
    font-size: 14px;
}

.footer-text-bold {
    font-family: Whitney-SemiBold, Benton, sans-serif;
}



